.arrival-headings{
    margin: 50px 100px;
}
.arrival-card{
    margin: 10px 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    .arrival-headings{
        font-size: 10px;
        margin: 20px 50px;
    }
    .arrival-card{
        margin: 10px;
    }
}

@media screen and (max-width: 350px) {
    .arrival-headings{
        font-size: 6px;
    }
}