.steps-container{
    margin: 50px 150px;
}
.steps-heading{
    display: flex;
    justify-content: center;
}
.step-img-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrapper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step-img{
    height: 150px;
    width: fit-content;
}
.step-tag{
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 10px;
}
.step-title{
    margin-top: 15px;
    font-weight: 600;
    color: gray;
}