.footer-container{
    margin: 100px 10%;
    display: flex;
    justify-content: space-between;
}
.footer-lists{
    list-style: none;
    margin-right: 0;
}
.footer-logo{
    margin: 10px 10px 0 40px;
    font-size: 24px;
    font-weight: 700;
}
.footer-title{
    margin-left: 40px;
    font-weight: 600;
}
.listItem{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: gray;
}
.listItem:hover{
    color: black;
    cursor: pointer;
}