.single-product-container{
    display: flex;
    margin: 50px;
}
.single-image-container{
  flex: 1;
  display: flex;
  justify-content: center;
}
.image-element{
    width: 100%;
    object-fit: cover;
    height: 90vh;
}
.single-info-container{
   flex: 1;
   padding: 0 50px;
}
.single-title{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.single-desc{
    color: gray;
}
.price{
    border: 2px solid #379c37;
    color: #379c37;
    width: max-content;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
}
.single-filter-container{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filterColors{
    display: flex;
}
.filterColor{
    border: 1px solid gray;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
}
.filter{
    display: flex;
    flex-direction: column;
}
.filter-title{
    font-size: 20px;
    margin : 10px 5px
}
.size-filter-title{
    font-size: 20px;
    margin: 15px 5px;
}
.selectedSize{
    border: 2px solid gray;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}
.productSizes{
  display: flex;
}
.sizeFilter{
    width: 150px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.selected{
    background-color: #1169c1;
    color: white;
}
.quantity-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.quantity{
  font-size: 20px;
  background-color: #d5d5d53a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart{
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 2px solid black !important;
    border-radius: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: rgb(32, 32, 32);
}

@media screen and (max-width: 1500px) {
    .image-element{
        height: 70vh;
    }
    .sizeFilter{
        width: 125px;
    }
}
@media screen and (max-width: 1200px) {
    .image-element{
        height: 50vh;
    }
    
}
@media screen and (max-width: 900px) {
    .single-product-container{
        flex-direction: column;
      }
    .image-element{
        width: 35%;
    }
}
@media screen and (max-width: 555px) {
    .image-element{
        height: 100%;
    }
    .add-to-cart{
        padding: 8px 5px;
    }
}
@media screen and (max-width: 490px) {
    .quantity-container{
        font-size: 12px;
    }
    .quantity-container{
        display: flex;
        flex-direction: column;
    }
    .quantity{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 400px) {
    .single-title{
        font-size: 20px;
    }
    .price{
        width: 40px;
        font-size: 13px;
    }
    .filter-title{
        font-size: 12px;
    }
    
}